.promo__wrapper {
  background-image: url("../img/promo-backround.png");
  padding: 27px 35px 0 35px;
}

.promo__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__button {
  font-size: 14px;
  line-height: 18px;
  padding: 7px 44px;
}
